{% extends "header.html" %}

{% block content %}

	<h3 class="center">Tournaments</h3>
	<div class="row">
		<div class="col l5 m4 s3"></div>
		<div class="col l2 m4 s6">
			<table class="centered">
				<thead>
					<tr>
						<td></td>				
					</tr>
				</thead>
				<tbody>
					{% for year in years %}	 
						<tr>
							<td class="larger-font">
								{{ year }}
							</td>
						</tr>
						{% for tournament in tournaments %}	 
							{% if year == tournament.year %}
								<tr>
									<td>
										<a href="t/{{ tournament.slug }}">{{ tournament.city }} {{ tournament.year }}</a>
									</td>
								</tr>
							{% endif %}
						{% endfor %}					
					{% endfor %}					
				</tbody>
			</table>
		</div>
		<div class="col l5 m4 s3"></div>
	</div>

{% endblock %}