{% extends "header.html" %}

{% block content %}

	<h3 class="center">Tournaments</h3>
	<div class="row">
		<div class="col l5 m4 s3"></div>
		<div class="col l2 m4 s6">
			<table class="centered">
				<thead>
					<tr>
						<td></td>				
					</tr>
				</thead>
				{% for year in years %}	 
				
					<script>
						$(document).ready(function(){
							$("#toggle_button_{{ year }}").click(function(){
								$("#toggle_element_{{ year }}").slideToggle(700, "swing");
							});
						});						
					</script>
					
					<tbody id="toggle_button_{{ year }}">
						<tr>
							<td class="larger-font">
								{{ year }}
							</td>
						</tr>
					</tbody>
					<tbody id="toggle_element_{{ year }}" class="initiallyHidden">
						{% for tournament in tournaments %}
							{% if year == tournament.year %}
								<tr class=" ">
									<td>
										<a href="./{{ tournament.slug }}">{{ tournament.city }} {{ tournament.year }}</a>
									</td>
								</tr>
							{% endif %}
						{% endfor %}					
					</tbody>
				{% endfor %}					
			</table>
		</div>
		<div class="col l5 m4 s3"></div>
	</div>

{% endblock %}