{% extends "header.html" %}

{% block content %}

	<h3 class="center">
		<a href="../">Tournaments</a>
		<br>
		{{ tournament.city }} {{ tournament.year }}
	</h3>
	<div class="row">
		<div class="col l5 m4 s3"></div>
		<div class="col l2 m4 s6">
			<table class="centered">
				<thead>
					<tr>
						<td></td>				
					</tr>
				</thead>
				<tbody>
					{% for team in teams_in_tournament %}	 
						<tr>
							<td>
								<a href="./{{ team.slug }}">{{ team.city }} {{ team.name }}</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col l5 m4 s3"></div>
	</div>

{% endblock %}
